h1{
color: aqua;
text-align: center;
padding-top: 250px
}


div.links {
    text-align: center;
    display:inline-block;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
}

#button {
    color:aqua;
}

body {
    background-color: black;
    background-image:  url('images/background.png');
    filter: blur(1px);
}

iframe {
display:block;
background-color:blue;
}


  