h1{
color: aqua;
text-align: center;
padding-top: 200px
}


div.links {
    background-color:white;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 24px;
    display: block;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
}

#button {
    color:aqua;
}

body {
    background-image: url(images/background.png');
    background-size: 50%;
}

iframe {
align-content: center;
}


  