h1{
color: aqua;
text-align: center;
padding-top: 200px
}


div.links {
    background-color:white;
    border-radius: 2px;
    padding: 50px 10px;
    font-size: 24px;
    display: inline-block;
}

#button {
    color:aqua;
}

body {
    background-image: url('images/background.png');
    background-size: 50%;
}

iframe {
align-content: center;
}


  